{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock specif_style  %}

{% block content %}
<div class= "column">
 <section id="main">
    <div class="container-about" >
      <article id="main-col">
        <h1 class="page-title", text-align="center">ABOUT US</h1>  
        <p>Hello, welcome to Abc. Extremely glad you’re here. Have you ever been frustrated/discouraged while looking out for a bunch of aptitude questions? Were the level of questions not able to meet your expectations? Ever felt the need of an associate to discuss and clear your doubts? This portal has been designed to guide you through this strenuous journey and pave an easier path for the destination.</p>
        <p class="dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum vero aut qui aperiam deserunt neque nobis et facere! Ipsum, necessitatibus vel totam pariatur provident placeat quos maiores deserunt beatae.</p>
      </article>
      
      <aside id="sidebar">
        <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat laboriosam in necessitatibus, dolore aspernatur quidem sunt rerum debitis.</p>
        </div>
     </aside>
    </div>
  </section>
<div class="column">
  <div class="container">
    <div class="row">
      <h2 class="text-center">OUR TEAM </h2>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{% static 'Images/Ananth.jpg' %}">
            </div>
            <div class="team-content">
              <h3 class="name">Ananth G Prabhu</h3>
              <h4 class="title">Front-End Developer</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{% static 'Images/Damodar.jpg' %}">
            </div>
            <div class="team-content">
              <h3 class="name">Damodar</h3>
              <h4 class="title">Front-End Developer</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Karthik.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Karthik Shenoy</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Kavita.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Kavita Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Keerthi.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Keerthi Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Sucheta.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Sucheta Shanbhag</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Vaishnavi.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Vaishnavi Slavankar</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  
{% endblock content %}