{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
<link rel="stylesheet" href="{% static 'css/about_us.css' %}">
{% endblock specif_style  %}

{% block content %}
<div class= "column">
 <section id="main">
    <div class="container-about" >
      <article id="main-col">
        <h1 class="page-title", text-align="center">ABOUT US</h1>  
        <p>Hello, welcome to Abc. Extremely glad you’re here. Have you ever been frustrated/discouraged while looking out for a bunch of aptitude questions? Were the level of questions not able to meet your expectations? Ever felt the need of an associate to discuss and clear your doubts? This portal has been designed to guide you through this strenuous journey and pave an easier path for the destination.</p>
        <p class="dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum vero aut qui aperiam deserunt neque nobis et facere! Ipsum, necessitatibus vel totam pariatur provident placeat quos maiores deserunt beatae.</p>
      </article>
      
      <aside id="sidebar">
        <div class="dark">
        <h3>What We Do</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat laboriosam in necessitatibus, dolore aspernatur quidem sunt rerum debitis.</p>
        </div>
     </aside>
    </div>
  </section>
<div class="column">
  <div class="container">
    <div class="row">
      <h2 class="text-center">OUR TEAM </h2>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{% static 'Images/Ananth.jpg' %}">
            </div>
            <div class="team-content">
              <h3 class="name">Ananth G Prabhu</h3>
              <h4 class="title">Front-End Developer</h4>
            </div>
=======
.about-us {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}


.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
</style>
</head>

<body>
<div class = "about-us">
<h1>ABOUT US </h1>
<p>Hello, welcome to Abc. Extremely glad you’re here. Have you ever been frustrated/discouraged while looking out for a bunch of aptitude questions? Were the level of questions not able to meet your expectations? Ever felt the need of an associate to discuss and clear your doubts? This portal has been designed to guide you through this strenuous journey and pave an easier path for the destination.</p>

<h3>OUR VALUES</h3>

<p>We, the team of Abc, hereby comply with a certain set of values:
We never stop learning.
We work relentlessly to produce fruitful results.
Customer satisfaction is our first priority.
We ensure that we make enough time to help others achieve their goals.</p>

<h3>WHAT DO WE DO?</h3>

<p>Placements season is the time which requires a rigorous approach to improve your aptitude skills for the job opportunities. Getting through the aptitude test is the first step during the placements. Since you have to compete with people of similar intellectual level as yours, you need to keep your fundamentals strong and practice a lot for better speed, accuracy and confidence. Abc provides you a wide range of resources, ranging from quantitative aptitude to logical reasoning, and data interpretation to verbal reasoning.
A programmer should always look for ways to improve his/her programming skills. His success as a programmer depends on his ability to learn and adapt. We, at Abc, ensure to supply you with timeless techniques for continuous development. We bring before you plenty of learning resources that are only a click away, so you don't have to waste your time on various sites.</p>

<p>To make the process of learning much simpler, we also have an interactive platform for the students. Collaborative efforts can help students to share diverse perspectives, develop new approaches to solve problems and receive social support and encouragement at all times. Hence, this platform can be of great help to students to develop a set of skills that are increasingly important in the professional world.</p>

<p>We work to establish a foundation of consistency, so that we can continue to adapt, experiment and grow. Creativity is what drives us and curiosity inspires us to transform.</p>

<p>Feel free to reach out to us with any questions. We are always open to feedback and constructive criticism.   
</p>
</div>
   <h2 style= "text-align: center">OUR TEAM </h2>
      <div class = "row">
        <div class = "column">
          <div class = "card">
            <img src = "static/Images/Ananth.jpg" alt= "Ananth" width="100%">
               <div class = "container">
                   <h2>ANANTH G PRABHU</h2>
                      <p>Email : <a href = "mailto:ananthgprabhu17k205@gmail.com">mailto:ananthgprabhu17k205@gmail.com</a></p>
                         <p>Contact: 8088193224</p>
               </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
          <div class="our-team">
            <div class="picture">
              <img class="img-fluid" src="{% static 'Images/Damodar.jpg' %}">
            </div>
            <div class="team-content">
              <h3 class="name">Damodar</h3>
              <h4 class="title">Front-End Developer</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Karthik.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Karthik Shenoy</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Kavita.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Kavita Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Keerthi.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Keerthi Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Sucheta.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Sucheta Shanbhag</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Vaishnavi.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Vaishnavi Slavankar</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  
{% endblock content %}