{% extends 'layout.html' %}
{% load static %}
  
  	<!-- Title -->
        <title>Ankuram</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


    {% block specif_style  %}
 	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/icofont.css' %}">
	<link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	{% endblock specif_style  %}
	
 
{% block content %}
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<header class="header" >
			
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									{% comment %} <a href="index.html"><img class="img-fluid" src="{% static 'img/Ankuram logo.png' "width=50px" %}"></a> {% endcomment %}
								</div>
								<!-- End Logo -->
								
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">

											<li class="active"><a href="/home/">Home </a>
												{% comment %} <ul class="dropdown">

											<li class="active"><a href="/aboutus/">Home </a>
												<ul class="dropdown">

													<li><a href="index.html">Home Page 1</a></li>
												</ul> {% endcomment %}
											</li>
											<li><a href="/aptitude/">Aptitude </a></li>
											<li><a href="/Problem_Solving/">Coding </a></li>
											<li><a href="/blog/">Blogs</a>
											</li>
											<li><a href="/resources/">Resources</a></li>
											{% if logged_in == 1 %}
											<li><a href=""><i class ="far fa-user"></i>&nbsp;{{user_name}}<i class="icofont-rounded-down"></i></a>
											 <ul class="dropdown">
													<li><a href="/manage-posts/">Manage Posts</a></li>
													<li><a href="/logout/">Log out</a></li>
												</ul>
											</li>
											{% endif %}
											{% if logged_in == 0 %}
											<div class="button-signin">
											<div class="col-lg-2 col-12">
												<a href="/signin/" class="btn">Sign in</a>
											</div>
											</div>
											{% endif %}
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url({% static 'Images/first.jpg' %})">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Hello! Welcome to ABC <span>Extremely glad you’re here</span> </h1>
									<p>This portal has been designed to guide you through this strenuous journey and pave an easier path for the destination. </p>
									<div class="button">
										<a href="#" class="btn">Get Started</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url({% static 'Images/second.jpg' %})">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Have you ever been frustrated/discouraged while <span> looking out for a services that you can bunch of aptitude questions?</span></h1>
									
									<div class="button">
										<a href="#" class="btn">Get Started</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url({% static 'Images/third.jpg'  %})">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>Ever felt the need of an associate <span> to discuss services that You Can and clear your doubts?</span></h1>
									
									<div class="button">
										<a href="#" class="btn">Get Started</a>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									
									<div class="single-content">
										<span>Values</span>
										<h4>Learning Agility</h4>
										<p>We never stop learning.</p>
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Values</span>
										<h4>Customer Gratification</h4>
                    					<p>Customer satisfaction is our first priority</p>
										
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
                    <span>Values</span>
										<h4>Persistance and Punctuality</h4>
										<p>Work relentlessly to produce fruitful results</p>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

	
		
		<!-- Start Why choose -->
		<section class="why-choose section" >
			<div class="container">
				<div class="row">
					
				<div class="row">
					<div class="col-lg-6 col-12">
						<!-- Start Choose Left -->
						<div class="choose-left">
							<h3>What we do?</h3>
							
							<p>To make the process of learning much simpler, we also have an interactive platform for the students. Collaborative efforts can help students to share diverse perspectives, develop new approaches to solve problems and receive social support and encouragement at all times. Hence, this platform can be of great help to students to develop a set of skills that are increasingly important in the professional world. </p>
							<p>We work to establish a foundation of consistency, so that we can continue to adapt, experiment and grow. Creativity is what drives us and curiosity inspires us to transform.
        Feel free to reach out to us with any questions. We are always open to feedback and constructive criticism.</p>
						</div>
						<!-- End Choose Left -->
					</div>
					<div class="col-lg-6 col-12">
						<!-- Start Choose Rights -->
						<div class="choose-right">
							<div class="video-image">
								<!-- Video Animation -->
								{% comment %} <div class="promo-video">
									<div class="waves-block">
										<div class="waves wave-1"></div>
										<div class="waves wave-2"></div>
										<div class="waves wave-3"></div>
									</div>
								</div> {% endcomment %}
								<!--/ End Video Animation -->
								<img class="img-fluid" src="{% static 'Images/us.jpg'  %}">
							</div>
						</div>
						<!-- End Choose Rights -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Why choose -->
		<section class="why-choose section" >
			<div class="container">
		<div class="row">
  <h1 class="text-center">OUR TEAM </h1>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="our-team">
        <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Ananth.jpg' %}">
        </div>
        <div class="team-content">
            <h3 class="name">Ananth</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="our-team">
      <div class="picture">
        <img class="img-fluid" src="{% static 'Images/Damodar.jpg' %}">
      </div>
    <div class="team-content">
        <h3 class="name">Damodar</h3>
        <h4 class="title">Front-End Developer</h4>
    </div>
  </div>
        </div>
        <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Karthik.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Karthik Shenoy</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Kavita.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Kavita Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Keerthi.jpg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Keerthi Kamath</h3>
            <h4 class="title">Front-End Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Sucheta.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Sucheta Shanbhag</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid" src="{% static 'Images/Vaishnavi.jpeg' %}">
          </div>
          <div class="team-content">
            <h3 class="name">Vaishnavi Slavankar</h3>
            <h4 class="title">Front-End Developer</h4>
        </div>
      </div>
    </div>
    </div>
    
  </div>
  </div>
  </section>

		
{% endblock content %}