{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.cs' %}">
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.csss' %}">
  <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/problem.css' %}">
{% endblock specif_style  %}

{% block content %}

<!-- header-area -->
    <header class="header" >
      
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  {% comment %} <a href="index.html"><img class="img-fluid" src="{% static 'img/Ankuram logo.png' "width=50px" %}"></a> {% endcomment %}
                </div>
                <!-- End Logo -->
                
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      <li><a href="/aboutus/">Home </a></li>
                      <li class="active"><a href="/aptitude/">Aptitude </a></li>
                      <li><a href="/Problem_Solving/">Coding <i class="icofont-rounded-down"></i></a>
                        {% comment %} <ul class="dropdown">
                          <li><a href="404.html">Aptitude</a></li>
                          <li><a href="404.html">Coding</a></li>
                        </ul> {% endcomment %}
                      </li>
                      <li><a href="/blog/">Blogs <i class="icofont-rounded-down"></i></a></li>
                      <li><a href="/resources/">Resources</a></li>
                      <li><a href=""><i class ="far fa-user"></i>&nbsp;{{user_name}}<i class="icofont-rounded-down"></i></a>
                       <ul class="dropdown">
                          <li><a href="/manage-posts/">Manage Posts</a></li>
                          <li><a href="/logout/">Log out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->


		<div class = "row">

			<div class = "col-lg-8">
				<section class = "left-pane">
				{% for problem in problems %}
					<div class = "card">
						<div class = "card-text">
							<h2>{{problem.title}}</h2>
							<p>Topic : {{problem.topic}}</p>
						</div>
						<div class = "problem-solve-button">
							<button onclick="location.href='{{problem.link}}';" class = "solve-button">Solve Problem</button>
						</div>
					</div>
				{% endfor %}
				</section>
			</div>

			<div class = "col-lg-4" id="sidebar">
				<section class = "right-pane">
					<h2>Sub-Domains</h2>
					<form action="/aptitude/" method="POST">
						{% csrf_token %}
						<input type="checkbox" id="Arithmatic-Aptitude" name="AT1" value="Arithmatic-Aptitude">
						<label for="Arithmatic-Aptitude">Arithmatic Aptitude</label><br>

						<input type="checkbox" id="Data-Interpretation" name="AT2" value="Data-Interpretation">
						<label for="Data-Interpretation">Data Interpretation</label><br>

						<input type="checkbox" id="Non-Verbal-Reasoning" name="AT3" value="Non-Verbal-Reasoning">
						<label for="Non-Verbal-Reasoning">Non Verbal Reasoning</label><br>

						<input type="checkbox" id="Logical-Reasoning" name="AT4" value="Logical-Reasoning">
						<label for="Logical-Reasoning">Logical Reasoning</label><br>

						<input type="checkbox" id="Verbal-Reasoning" name="AT5" value="Verbal-Reasoning">
						<label for="Verbal-Reasoning">Verbal Reasoning</label><br>

						<input type="checkbox" id="Verbal-Ability" name="AT6" value="Verbal-Ability">
						<label for="Verbal-Ability">Verbal Ability</label><br>

						<button type="submit">SORT PROBLEMS</button>
						</form>
					</div>
				</section>
			</div>

		</div>
	
{% endblock content %}