<!DOCTYPE html>
<html>
<head>
  <title>	Aptitude</title>
  <link rel="stylesheet" href="/Aptitude_frontend/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2>Aptitude</h2>
  {% for content in aptitude %} 
    <div class="card" style="width:200px">
        <img class="card-img-top" src="{{content.url}}" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">{{content.text}}</h4>
          </div>
    </div>
{% endfor %}
</div>
</body>
</html>