{% extends 'layout.html' %}
{% load static %}
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- Favicon -->
        <link rel="icon" href="img/favicon.png">

    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

{% block specif_style  %}
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.cs' %}">
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.csss' %}">
  <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
{% endblock specif_style  %}

{% block content %}
  
    <!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
    
    
    
    <!-- Single News -->
    <section class="news-single section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-12">
            <div class="row">
              <div class="col-12">
                <div class="single-main">
                  <!-- News Title -->
                  <h1 class="news-title"><a href="news-single.html">{{current_post.title}}</a></h1>
                  <!-- Meta -->
                  <div class="meta">
                    <div class="meta-left">
                      <span class="author"><i class = "far fa-user"></i>{{current_post.User_Name}}</span>
                      <span class="date"><i class="fa fa-clock-o"></i>{{current_post.time_stamp}}</span>
                    </div>
                    <div class="meta-right">
                      <span class="comments"><i class="fa fa-commenting-o"></i> comments :  {{current_post.comments}}</a></span>
                    </div>
                  </div>
                  <!-- News Text -->
                  <div class="news-text">
                    {{current_post.body | safe}}
                  </div>
                </div>
              </div>
  <!--comments section-->
  <div class="col-12">
    <div class="blog-comments">
      <h2>All Comments</h2>
      <div class="comments-body">
  <!-- Single Comments -->
  {% for comment in current_comments %}
  <div class="single-comments">
    <div class="main">
      <div class="body">
        <h4>{{comment.User_Name}}</h4>
        <div class="comment-meta"><span class="meta"><i class="fa fa-calendar"></i>{{comment.date}}</span><span class="meta"><i class="fa fa-clock-o"></i>{{comment.time}}</span></div>
        {{comment.data}}
      </div>
    </div>
  </div> 
  {% endfor %}
  <div class="single-comments">
    <div class="main">
      <div class="body">
        <h4>Afsana Mimi</h4>
        <div class="comment-meta"><span class="meta"><i class="fa fa-calendar"></i>March 05, 2019</span><span class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
      </div>
    </div>
  </div>    
  <!--/ End Single Comments -->
  <!-- Single Comments -->
  <div class="single-comments">
    <div class = "main">
      <div class="body">
        <h4>Naimur Rahaman</h4>
        <div class="comment-meta"><span class="meta"><i class="fa fa-calendar"></i>March 05, 2019</span><span class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
      </div>
    </div>
  </div>    
  <!--/ End Single Comments -->
  <!-- Single Comments -->
  <div class="single-comments">
    <div class = "main">
      <div class="body">
        <h4>Suriya Molharta</h4>
        <div class="comment-meta"><span class="meta"><i class="fa fa-calendar"></i>March 05, 2019</span><span class="meta"><i class="fa fa-clock-o"></i>03:38 AM</span></div>
        <p>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas</p>
      </div>
    </div>
  </div>    
  <!--/ End Single Comments -->                  
      </div>
    </div>
  </div>
  <!-- / End comments section-->
  <div class="col-12">
  <div class="comments-form">
  <h2>Leave Comments</h2>
  <!-- Contact Form -->
  <form class="form" method="POST" action="{% url 'blog_single' blog_id=current_post.Blog_id %}">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="form-group message">
          <i class="fa fa-pencil"></i>
          <textarea name="message" rows="10" placeholder="Type Your Message Here" ></textarea>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group button">  
          <button type="submit" class="btn primary"><i class="fa fa-send"></i>Submit Comment</button>
        </div>
      </div>
    </div>
  </form>
                  <!--/ End Contact Form -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-12">
            <div class="main-sidebar">
              <!-- Single Widget -->
              <div class="single-widget category">
                <h3 class="title">Blog Categories</h3>
                <ul class="categor-list">
                  <li><a href="#">Men's Apparel</a></li>
                  <li><a href="#">Women's Apparel</a></li>
                  <li><a href="#">Bags Collection</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Sun Glasses</a></li>
                </ul>
              </div>
              <!--/ End Single Widget -->
              <!-- Single Widget -->
              <div class="single-widget recent-post">
                <h3 class="title">Recent posts</h3>
                <!-- Single Post -->
                <div class="single-post">
                  <div class="content">
                    <h5><a href="#">We have annnocuced our new product.</a></h5>
                    <ul class="comment">
                      <li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 11, 2020</li>
                      <li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li>
                    </ul>
                  </div>
                </div>
                <!-- End Single Post -->
                <!-- Single Post -->
                <div class="single-post">
                  <div class="content">
                    <h5><a href="#">Top five way for solving teeth problems.</a></h5>
                    <ul class="comment">
                      <li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 05, 2019</li>
                      <li><i class="fa fa-commenting-o" aria-hidden="true"></i>59</li>
                    </ul>
                  </div>
                </div>
                <!-- End Single Post -->
                <!-- Single Post -->
                <div class="single-post">
                  <div class="content">
                    <h5><a href="#">We provide highly business soliutions.</a></h5>
                    <ul class="comment">
                      <li><i class="fa fa-calendar" aria-hidden="true"></i>June 09, 2019</li>
                      <li><i class="fa fa-commenting-o" aria-hidden="true"></i>44</li>
                    </ul>
                  </div>
                </div>
                <!-- End Single Post -->
              </div>
              <!--/ End Single Widget -->>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ End Single News -->
    
   <!-- Footer Area -->
    <footer id="footer" class="footer ">
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="copyright-content">
                <p>© Copyright 2018  |  All Rights Reserved by Sushiksha|Ankuram</a> </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Copyright -->
    </footer>
    <!--/ End Footer Area -->
    
      <!-- jquery Min JS -->

    <script type="text/javascript" src="{% static 'js/jquery.min.js'%}" ></script>
    <!-- jquery Migrate JS -->
    <script type="text/javascript" src="{% static 'js/jquery-migrate-3.0.0.js'%}" ></script>
    <!-- jquery Ui JS -->
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js'%}" ></script>
    <!-- Easing JS -->
    <script type="text/javascript" src="{% static 'js/easing.js'%}" ></script>
    <!-- Color JS -->
    <script type="text/javascript" src="{% static 'js/colors.js'%}" ></script>
    <!-- Popper JS -->
    <script type="text/javascript" src="{% static 'js/popper.min.js'%}" ></script>
    <!-- Bootstrap Datepicker JS -->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.js'%}" ></script>
    <!-- Jquery Nav JS -->
    <script type="text/javascript" src="{% static 'js/jquery.nav.js'%}" ></script>
    <!-- Slicknav JS -->
      <script type="text/javascript" src="{% static 'js/slicknav.min.js'%}" ></script>
    <!-- ScrollUp JS -->
     <script type="text/javascript" src="{% static 'js/jquery.scrollUp.min.js'%}" ></script>
    <!-- Niceselect JS -->
    <script type="text/javascript" src="{% static 'js/niceselect.js'%}" ></script>
    <!-- Tilt Jquery JS -->
    <script type="text/javascript" src="{% static 'js/tilt.jquery.min.js'%}" ></script>
    <!-- Owl Carousel JS -->
    <script type="text/javascript" src="{% static 'js/owl-carousel.js'%}" ></script>
    <!-- counterup JS -->
    <script type="text/javascript" src="{% static 'js/jquery.counterup.min.js'%}" ></script>
    <!-- Steller JS -->
    <script type="text/javascript" src="{% static 'js/steller.js'%}" ></script>
    <!-- Wow JS -->
    <script type="text/javascript" src="{% static 'js/wow.min.js'%}" ></script>
    <!-- Magnific Popup JS -->
    <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js'%}" ></script>
    <!-- Counter Up CDN JS -->
    <script type="text/javascript" src="{% static 'http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js'%}" ></script>
    <!-- Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}" ></script>
    <!-- Main JS -->
    <script type="text/javascript" src="{% static 'js/main.js'%}" ></script>
{% endblock content %}