<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="blog1.css">
    </head>
    <body>
        <div class="content">
            <h2 class="page-title">Manage Posts</h2>
            <table>
                <thead>
                    <th>SN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th colspan="3" >Action</th>
                </thead>
                <tr>
                    <td>1</td>
                    <td>This is the first post</td>
                    <td>Awa</td>
                    <td><a href="#" class="edit">Edit</a></td>
                    <td><a href="#" class="delete">Delete</td>
                    <td><a href="#" class="publish">Publish</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>This is the Second post</td>
                    <td>Awa</td>
                    <td><a href="#" class="edit">Edit</a></td>
                    <td><a href="#" class="delete">Delete</td>
                    <td><a href="#" class="publish">Publish</td>
                </tr>
            </table>
        </div>

    </body>
</html>