{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/icofont.css' %}">
  <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
  <link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
  <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Blog_styles.css' %}" />
  <script src="https://kit.fontawesome.com/72a88f0ef8.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />
{% endblock specif_style  %}


{% block content %}
<title>Create-Post</title>
<!-- header-area -->
    <header class="header" >
      
      <!-- Header Inner -->
      <div class="header-inner">
        <div class="container">
          <div class="inner">
            <div class="row">
              <div class="col-lg-3 col-md-3 col-12">
                <!-- Start Logo -->
                <div class="logo">
                  {% comment %} <a href="index.html"><img class="img-fluid" src="{% static 'img/Ankuram logo.png' "width=50px" %}"></a> {% endcomment %}
                </div>
                <!-- End Logo -->
                
              </div>
              <div class="col-lg-7 col-md-9 col-12">
                <!-- Main Menu -->
                <div class="main-menu">
                  <nav class="navigation">
                    <ul class="nav menu">
                      <li><a href="/home/">Home </a></li>
                      <li><a href="/aptitude/">Aptitude </a></li>
                      <li><a href="/Problem_Solving/">Coding </a>
                      </li>
                      <li class= "active"><a href="/blog/">Blogs </a></li>
                      <li><a href="/resources/">Resources</a></li>
                      <li><a href=""><i class ="far fa-user"></i>&nbsp;{{user_name}}<i class="icofont-rounded-down"></i></a>
                       <ul class="dropdown">
                          <li><a href="/manage-posts/">Manage Posts</a></li>
                          <li><a href="/logout/">Log out</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!--/ End Main Menu -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Header Inner -->
    </header>
    <!-- End Header Area -->

<!-- Admin-Page-Wrapper -->
<div class = "admin-wrapper">
	<!-- Admin-Content -->
	<div class = "admin-content">
		<div class="content justify-content-center text-left">
			<h2 class = "page-title text-center">Create Post</h2>
			<form action="/create-post/" method="POST" class="col-lg-8 offset-lg-2 col-12">
				{% csrf_token %}
				<div class = "create-title">
					<label>Title</label>
					<input type = "text" class ="text" name = "title"/>
				</div>
				<div class = "create-body">
					<label>Body</label>
					<textarea name="body" id="body"></textarea>
				</div>
				<div class = "create-select-topic">
					<label>Choose Topic</label>
					<select name = "topic">
						<option Value = "Aptitude">Aptitude</option>
						<option Value = "Problem-Solving">Problem-Solving</option>
						<option Value = "Resources">Resources</option>
					</select>
				</div>
				<div>
					<button type = "submit" class= "btn btn-big">Publish Post</button>
				</div>
				{% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == "INVALID_BLOG_DATA" %}
                        <div class="error-msg">
                            <p style = "color: #1a76d1; font-weight: 600;">{{message}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
			</form>
		</div>
	</div>
	<!-- // Admin-Content -->
</div>
<!-- // Admin-Page-Wrapper -->


<!-- JQUERY --> 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- C-K Editor -->
<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<!-- Custom Scripts --> 
<script type="text/javascript" src="{% static 'js/scripts_Blog.js' %}"></script>

{% endblock content %}