{% load static %}

<link rel="stylesheet" href="{% static 'css/admin.css' %}" />
<link rel="stylesheet" href="{% static 'css/Blog_styles.css' %}" />
<script src="https://kit.fontawesome.com/72a88f0ef8.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Candal" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lora" />

<title>Create-Post</title>

<!-- Admin-Page-Wrapper -->
<div class = "admin-wrapper">
	<!-- Admin-Content -->
	<div class = "admin-content">
		<div class="content">
			<h2 class = "page-title">Edit Post</h2>
			<form action="/manage-posts/" method="POST">
				{% csrf_token %}
				<div class = "edit-title">
					<label>Title</label>
					<input type = "text" class = text-input name = "title" value = "{{current_post.title}}"/>
				</div>
				<div class = "edit-body">
					<label>Body</label>
					<textarea name="body" id="body">{{current_post.body}}</textarea>
				</div>
				<div class = "create-select-topic">
					<label>Choose Topic</label>
					<select name = "topic">
						<option Value = "Aptitude">Aptitude</option>
						<option Value = "Problem-Solving">Problem-Solving</option>
						<option Value = "Resources">Resources</option>
					</select>
				</div>
				<div>
					<button type = "submit" class= "btn btn-big">Publish Post</button>
				</div>
				{% if messages %}
                    {% for message in messages %}
                        {% if message.extra_tags == "INVALID_BLOG_DATA" %}
                        <div class="error-msg">
                            <p style = "color: #B33A3A; font-weight: bold;">{{message}}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
			</form>
		</div>
	</div>
	<!-- // Admin-Content -->
</div>
<!-- // Admin-Page-Wrapper -->


<!-- JQUERY --> 
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- C-K Editor -->
<script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
<!-- Custom Scripts --> 
<script type="text/javascript" src="{% static 'js/scripts_Blog.js' %}"></script>