<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>

	<h1><center> APTITUDE SECTION</center></h1>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="C:/general_aptitude.jpg"/ alt="general_aptitude" style="width:300px;height:200px;">
        <div class="bottom-right">Hover your cursor over the image</div>
    </div>
    <div class="flip-card-back">
      <h1>GENERAL APTITUDE</h1>
      <ul>
      	<li>Arithmetic Aptitude</li>
      	<li>Data Interpretation</li>
      </ul>
    </div>
  </div>
</div>
<br>
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="C:/verbal-reasoning.png"/ alt="verbal-reasoning" style="width:300px;height:200px;">
        <div class="bottom-right">Hover your cursor over the image</div>
    </div>
    <div class="flip-card-back">
      <h1>VERBAL AND REASONING</h1>
      <ul>
      	<li>Verbal Ability</li>
      	<li>Logical Reasoning</li>
      </ul>
    </div>
  </div>
</div>
<h1>Best Sites for Aptitude Preparation</h1>
<div class="row">
	<div class="column">
<div class="card">
  <img src="C:/logo.gif"/ alt="logo" style="width:300px;height:200px;">
  <div class="container">
    <h4><b>India BIX</b></h4>
    <button type="button">Click Here</button>
  </div>
</div> 
</div>
<div class="column">
<div class="card">
  <img src="C:/freedu.png"/ alt="freedu" style="width:300px;height:200px;">
  <div class="container">
    <h4><b>Freedu</b></h4>
    <button type="button">Click Here</button>
  </div>
</div> 
</div>
<div class="column">
<div class="card">
  <img src="C:/sawaal-black-logo.png"/ alt="sawaal" style="width:300px;height:200px;">
  <div class="container">
    <h4><b>Sawaal</b></h4>
    <button type="button">Click Here</button>
  </div>
</div> 
</div>
<div class="column">
<div class="card">
  <img src="C:/testpot.png"/ alt="testpot" style="width:300px;height:200px;">
  <div class="container">
    <h4><b>Testpot</b></h4>
    <button type="button">Click Here</button>
  </div>
</div> 
</div>
</div>
</body>
</html>