<!DOCTYPE html>
<html>
<head>
		<TITLE>Login Page</TITLE>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>
<script
src="https://kit.fontawesome.com/a076d05399.js"></script>
	<body>
	<div class="loginbox">
		<h1>Login</h1>
		<div class="textbox">
			<i class="fas fa-user"></i>
		   <input type="text" placeholder="Username" name="" value="">
		</div>
	    <div class="textbox">
			<i class="fas fa-lock"></i>
	       <input type="Password" placeholder="Password" name="" value="">	
		</div>
	<input class="btn" type="button" name="" value="Sign in">
	</div>
	</body>

</html>	
