{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
<link rel="stylesheet" href="{% static 'css/problem.css' %}">
{% endblock specif_style  %}

{% block content %}
		<div class = "row">

			<div class = "col-lg-8">
				<section class = "left-pane">
				{% for problem in problems %}
					<div class = "card">
						<div class = "card-text">
							<h2>{{problem.title}}</h2>
							<p>Difficulty : {{problem.difficulty}}, Topic : {{problem.topic}}</p>
						</div>
						<div class = "problem-solve-button">
							<button class = "solve-button">Solve Problem</button>
						</div>
					</div>
				{% endfor %}
				</section>
			</div>




			<div class = "col-lg-4" id="sidebar">
				<section class = "right-pane">
					<div class = "difficulty-selecter">
						<form method = "POST">
						{% csrf_token %}
						<h2>Difficulty</h2>
						<input type="checkbox" id="Easy" name="D1" value="Easy">
						<label for="Easy">Easy</label><br>

						<input type="checkbox" id="Medium" name="D2" value="Medium">
						<label for="Medium">Medium</label><br>

						<input type="checkbox" id="Hard" name="D3" value="Hard">
						<label for="Hard">Hard</label><br>
					</div>
					<div>
						<h2>Sub-Domains</h2>
						<input type="checkbox" id="Time-Complexity" name="T1" value="Time-Complexity">
						<label for="Time-Complexity">Time-Complexity</label><br>

						<input type="checkbox" id="Sorting" name="T2" value="Sorting">
						<label for="Sorting">Sorting</label><br>

						<input type="checkbox" id="Complete-Search" name="T3" value="Complete-Search">
						<label for="Complete-Search">Complete-Search</label><br>

						<input type="checkbox" id="Greedy-Algorithms" name="T4" value="Greedy-Algorithms">
						<label for="Greedy-Algorithms">Greedy-Algorithms</label><br>

						<input type="checkbox" id="Dynamic-Programming" name="T5" value="Dynamic-Programming">
						<label for="Dynamic-Programming">Dynamic-Programming</label><br>

						<input type="checkbox" id="Amortized-Analysis" name="T6" value="Amortized-Analysis">
						<label for="Amortized-Analysis">Amortized-Analysis</label><br>

						<input type="checkbox" id="Range-Queries" name="T7" value="Range-Queries">
						<label for="Range-Queries">Range-Queries</label><br>

						<input type="checkbox" id="Bit-Manipulation" name="T8" value="Bit-Manipulation">
						<label for="Bit-Manipulation">Bit-Manipulation</label><br>

						<input type="checkbox" id="Recursion" name="T9" value="Recursion">
						<label for="Recursion">Recursion</label><br>

						<input type="checkbox" id="Searching" name="T10" value="Searching">
						<label for="Searching">Searching</label><br>
						<button type="submit">SORT PROBLEMS</button>
						</form>
					</div>
				</section>
			</div>

		</div>
	
{% endblock content %}