{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
<link rel="stylesheet" href="{% static 'css/Resources.css' %}">
{% endblock specif_style  %}

{% block content %}
{% for site in siteCards %}
		<script type="text/javascript">
			var url = "{% url 'resources' val=site.site %}";
		</script>
		<div class="card">
			<div class="card-image">
				<img src="{{site.image_link}}">
			</div>
			<div class="card-text">
				<h2>{{site.title}}</h2>
			</div>
			<button onclick="location.href=url">Click here</button>
		</div>
{% endfor %}
{% endblock content %}

