{% extends 'layout.html' %}
{% load static %}

{% block specif_style  %}
<link rel="stylesheet" href="{% static 'css/Resources.css' %}">
{% endblock specif_style  %}

{% block content %}
{% for site in siteCards %}
		<div class="card">
			<div class="card-image">
				<img src="{{site.image_link}}">
			</div>
			<div class="card-text">
				<h2>{{site.title}}</h2>
			</div>
			<form method="POST">
			{% csrf_token %}
			<button name = "{{site.site}}" value = "{{ site.site }}">Click here</button>
			</form>
		</div>
{% endfor %}
{% endblock content %}

