	{% load static %}
    <script type="text/javascript" src="{% static 'js/login.js'%}" ></script>
    


  <!-- <h1>ABOUT US </h1>
<p>Hello, welcome to Abc. Extremely glad you’re here. Have you ever been frustrated/discouraged while looking out for a bunch of aptitude questions? Were the level of questions not able to meet your expectations? Ever felt the need of an associate to discuss and clear your doubts? This portal has been designed to guide you through this strenuous journey and pave an easier path for the destination.</p>

<h3>OUR VALUES</h3>

<p>We, the team of Abc, hereby comply with a certain set of values:
We never stop learning.
We work relentlessly to produce fruitful results.
Customer satisfaction is our first priority.
We ensure that we make enough time to help others achieve their goals.</p>

<h3>WHAT DO WE DO?</h3>

<p>Placements season is the time which requires a rigorous approach to improve your aptitude skills for the job opportunities. Getting through the aptitude test is the first step during the placements. Since you have to compete with people of similar intellectual level as yours, you need to keep your fundamentals strong and practice a lot for better speed, accuracy and confidence. Abc provides you a wide range of resources, ranging from quantitative aptitude to logical reasoning, and data interpretation to verbal reasoning.
A programmer should always look for ways to improve his/her programming skills. His success as a programmer depends on his ability to learn and adapt. We, at Abc, ensure to supply you with timeless techniques for continuous development. We bring before you plenty of learning resources that are only a click away, so you don't have to waste your time on various sites.</p>

<p>To make the process of learning much simpler, we also have an interactive platform for the students. Collaborative efforts can help students to share diverse perspectives, develop new approaches to solve problems and receive social support and encouragement at all times. Hence, this platform can be of great help to students to develop a set of skills that are increasingly important in the professional world.</p>

<p>We work to establish a foundation of consistency, so that we can continue to adapt, experiment and grow. Creativity is what drives us and curiosity inspires us to transform.</p>

<p>Feel free to reach out to us with any questions. We are always open to feedback and constructive criticism.   
</p>
</div> -->