.admin-wrapper {
    height: calc(100%-66px);
}

.admin-content {
    position: relative;
}

.admin-wrappr .admin-content {
    padding-left: 450px;
    padding-top: 100px;
    overflow-y: scroll;
}

.admin-content .page-title {
    text-align: left;
    margin-bottom: 1.5rem;
    padding-top: 60px;
    padding-left: 50px;
}

.admin-content .button-group {
    position: absolute;
    left: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.1rem;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
}

.edit {
    color: green;
}

.delete {
    color: red;
}

.edit:hover,
.delete:hover {
    text-decoration: underline;
}

form>div {
    margin: 2.5rem;
    width: 800px;
}

.btn {
    width: 170px;
    font-size: 20px;
    margin-left: 2px;
    color: #fff;
    margin-top: 45px;
    margin-left: 180px;
}

label {
    font-style: bold;
    margin-top: 9px;
    margin-left: 10px;
}

select {
    width: 100%;
    font-family: Arial;
    height: 35px;
    font-size: 1rem;
    border: 1px solid grey;
}

.error-msg {
    padding-right: 30px;
    font-size: 1.5rem;
}