.page-wrapper {
	background: #F5F5F5;
}

/* Posts Slider */
.post-slider{
	position: relative;
}

.text-input {
	padding: 0.7rem 1rem;
	display: block;
	width: 100%;
	border-radius: 7px;
	outline: none;
	color: #444;
	font-size: 1.2em;
	line-height: 1.5rem;
	font-family: Lora;
	border: 1px solid #e0e0e0;
}
.btn {
	padding: 0.5rem 1rem;
	background: #006669;
	color: white;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.btn:hover {
	color: white !important;
	background: #005255;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

h1, h2, h3, h4{
	font-family: Candal;
	color: #444;
}

a {
	text-decoration: none;
	color: inherit;
}

.page-wrapper a:hover{
	color: #006669;
}

.post-slider .slider-title{
	text-align: center;
	margin: 30px auto;

}

.post-slider .post-wrapper{
	width: 84%;
	height: 350px;
	margin: 0px auto;
	overflow: hidden;
}
