*{
	margin: 0px;
    padding: 0px;
}
body{
	font-family: Arail;
}

.main{

}

.cards{
	width: 15%;
	display: inline-block;
	border-radius: 10px;
	margin: 100px;
	border: 2px solid black;
	
}
.cards:hover{
	box-shadow: 3px 3px 10px black; 
}

.image img{
	width: 100%;
	border-top-right-radius: 10px;
	border-top-left-radius: 5px;
}

.title{
	text-align: center;
	color: green;
}
button{
	margin-top: 25px;
	margin-bottom: 20px;
	background-color: white;
	border: 2px solid black;
	padding: 7px;
	border-radius: 5px;
	cursor: pointer;

}
button:hover{
	background-color: green;
	color: white;
	transition: .5s;
}