body {
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #F0F0F0;
}

.center-pane {
    padding-left: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.center-pane>div {
    margin: 15px;
}

.card {
    font-family: "Roboto";
    background: #ffffff;
    width: 700px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    text-align: left;
    transition: 0.5s ease;
    cursor: pointer;
}

.card:hover {
    background: #F0F0F0
}

.card-text {
    grid-area: text;
    margin: 25px;
    padding: 30px;
}

.card-text p {
    color: grey;
    font-size: 15px;
    font-weight: 300;
    padding-left: 30px;
}

.card-text h2 {
    color: #228B22;
    margin-top: 0px;
    font-size: 22px;
}

.problem-solve-button {
    position: relative;
    top: 50%;
    margin-top: -100px;
    padding-bottom: 30px;
    margin-left: 500px;
}

.solve-button {
    border: 1px solid #000000;
    background: none;
    padding: 8px 15px;
    font-size: 15px;
    color: #228B22;
    font-family: "Roboto";
    cursor: pointer;
    margin: 8px;
    position: relative;
    transition: 0.8s;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);
}

.solve-button:hover {
    content: "";
    background: #505050;
    color: #51FF0D;
}

.right-pane {
    width: 200px;
    padding: 30px;
    margin-top: 20px;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}